

// 首页的主体样式
    // 主体
  .ypg-main {       
      // width: 100%;
      padding-top: 30px;
    // 饼图 柱状图
    .ypg-canvas{
      margin-top: 30px;
      width: 100%;
      .picTable{
        float: left;
        width: 45%;
        height: 400px;
        &:first-child{
          margin-right: 30px;
        }
      }
    }

  }