.ypg-main {
  padding-top: 30px;
}
.ypg-main .ypg-canvas {
  margin-top: 30px;
  width: 100%;
}
.ypg-main .ypg-canvas .picTable {
  float: left;
  width: 45%;
  height: 400px;
}
.ypg-main .ypg-canvas .picTable:first-child {
  margin-right: 30px;
}
