/*这里写首页的css样式*/
.mb_layout,
body {
  background-color: #fff;
}
header a {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #fff;
}
main {
  margin-bottom: 45px;
}
.mb_active {
  width: 100%;
  font-size: 0;
}
.mb_active a {
  vertical-align: top;
  font-size: 0;
  display: inline-block;
}
.mb_active a img {
  display: inline-block;
  vertical-align: middle;
}
.mb_active a:nth-child(1) {
  width: 66.666%;
}
.mb_active a:nth-child(1) img {
  width: 50%;
}
.mb_active a:nth-child(2) {
  width: 33.333%;
}
.mb_active a:nth-child(2) img {
  width: 100%;
}
.mb_brand ul {
  width: 100%;
}
.mb_brand ul li {
  width: 25%;
  float: left;
}
.mb_live ul {
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  box-sizing: border-box;
}
.mb_live ul a {
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}
.mb_live ul li {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.mb_live ul li p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #8f8f94;
}
.mb_live ul li p:nth-child(3) span:first-child {
  font-size: 12px;
  color: #f30;
  margin-right: 10px;
}
.mb_live ul li p:nth-child(3) span:last-child {
  text-decoration: line-through;
}
.mb_live ul li:nth-child(2n-1) {
  padding-right: 5px;
}
.mb_live:last-child {
  margin-bottom: 100px;
}
